/* styles.css */

body {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    border-radius: 0px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    /* height: 612.586px;  Consider whether this is needed.  Be careful about fixed heights. */
    margin: 0px;
    padding: 0px;
    /* width: 1279.99px; Consider whether this is needed */
}

.container {
    width: 600px;
    /* Adjust as needed */
    font-family: sans-serif;
    color: white;
}

.tab {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 16px;
    cursor: pointer;
}

.tab.active {
    background-color: rgba(97, 97, 97, 0.23);
}

.text {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 135%;
    margin-bottom: 10px;
}

.supporting-text {
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 140%;
    color: rgba(224, 224, 224, 0.8);
}

.image-container {
    margin-top: 20px;
    border-radius: 13px;
    overflow: hidden;
    border: 2px solid rgb(97, 97, 97);
    width: 100%;
    /* added to fit the container */
    height: auto;
    /* adjust height automatically */
}

.image-container img {
    width: 100%;
    display: block;
}

.tab:not(.active) .text {
    color: rgba(255, 255, 255, 0.35);
}

.tab:not(.active) .supporting-text {
    color: rgba(224, 224, 224, 0.35);
}